<template>
  <div>
    <h2>Vue.js - The Progressive JavaScript Framework</h2>
    <vue-markdown class="md" source="Vue.js는 UI 구현을 위한 프레임워크입니다. 비슷한 기능을 제공하는 React나 Angular보다 가볍고 배우기도 쉬워서 인기를 얻고 있습니다.

    Vue의 핵심은 data 변경에 반응하는 DOM 변경이라고 할 수 있습니다. 가상 DOM이라는 개념이 등장하기 전까지 JavaScript UI 구현은 DOM을 직접 조작하는 방식으로 이뤄졌습니다. DOM을 쉽게 조작할 수 있게 해주는 jQuery를 기반으로 다양한 UI component가 만들어졌습니다.

    하지만 복잡한 UI나 SPA(Single-page application)에서는 DOM을 조작하는 코드가 많아질수록 제품의 품질을 유지하기가 어려워집니다. 잘 동작하던 코드가 마크업 구조를 변경하면서 동작하지 않는 일도 흔히 발생합니다.

    Vue는 jQuery와는 다른 방식으로 UI를 구현합니다. 즉 직접 DOM을 조작하지 않고 data만 변경하면 자동으로 DOM이 변경되는 방식을 사용합니다.

    > In short: jQuery is DOM-driven while Vue is data-driven. And that is the big difference!
    > from https://blog.hellocomet.co/why-i-chose-to-replace-jquery-with-vuejs/

    Vue의 핵심 개념을 예제와 데모를 통해서 알아봅시다.
    " />
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>
