<template>
  <div>
    <h3>Dynamic component</h3>

    <div class="item">
      <h4>normal</h4>
      <component :is="currentView" />
    </div>

    <div class="item">
      <h4>keep-alive</h4>
      <keep-alive>
        <component :is="currentView" />
      </keep-alive>
    </div>

    <p class="action">
      <button type="button"
        @click="changeView">change view</button>
    </p>

    <vue-markdown class="md" source="
#### Dynamic component란?

부모 component에서 사용할 자식 component를 동적으로 결정할 수 있습니다. 이렇게 상황에 따라서 불러오는 서로 다른 component를 dynamic component라고 합니다.

Dynamic component는 한번 mount한 이후에 언제든 다른 component로 변경할 수 있습니다. 한 예로 탭 UI에서 각각의 탭 콘텐트를 별도의 component로 작성할 때 아래처럼 dynamic component를 사용해서 콘텐트를 전환할 수 있습니다.

```html
<component :is='currentTab' />
```

##### keep-alive component

Dynamic component가 전환될 때 기본적으로 이전의 component는 destroyed 되고 새로운 component가 created 됩니다. 다시 말해서 component의 state가 항상 초기화되기 때문에 전환되기 전의 상태를 잃어버립니다. 만약 이전의 상태를 유지해야 한다면 keep-alive 가상 요소로 감싸주면 됩니다.

```html
<keep-alive>
  <component :is='currentTab' />
</keep-alive>
```
    " />
  </div>
</template>

<script>
import ChildA from './ChildA'
import ChildB from './ChildB'

export default {
  name: 'DynamicView',
  components: {
    ChildA,
    ChildB
  },
  data () {
    return {
      currentView: 'ChildA'
    }
  },
  methods: {
    changeView () {
      this.currentView = this.currentView === 'ChildA'
        ? 'ChildB' : 'ChildA'
    }
  }
}
</script>
