<template>
  <div>
    <h2>Mixin</h2>
    <p>{{ mixinMessage }}</p>
    <button type="button" @click="changeMixinMessage">
      change mixin message
    </button>
  </div>
</template>

<script>
import sampleMixin from '@/mixins/sample-mixin'

export default {
  name: 'AppMixin',
  mixins: [sampleMixin],
  created () {
    console.log('AppMixin instance created')
  }
}
</script>
