<template>
  <div>
    <h2>Instance lifecycle</h2>
    <p>{{ message }}</p>
    <p class="action">
      <button type="button"
        @click="changeState">change state</button>
    </p>
    <vue-markdown class="md" source="Vue instance(VM)는 생성부터 소멸까지 일련의 life cycle을 거칩니다. Life cycle의 특정 시점마다 실행되는 callback 함수를 이용해서 필요한 작업을 할 수 있습니다.

  * beforeCreate: vm이 초기화된 직후에 호출됩니다. data와 methods, watch 등은 동작하지 않습니다.
  * **created**: vm이 생성되고 reactive한 data, computed, methods, watch, event 등의 설정이 끝난 상태입니다. 하지만 아직 vm.$el은 할당되지 않았습니다.
  * beforeMount: DOM에 mount되기 직전에 호출됩니다.
  * **mounted**: vm이 mount된 후 호출됩니다. component의 root element가 vm.$el에 할당됩니다. 하지만 vm에 포함된 일부 child component는 mount되지 않을 수 있습니다. 모든 view가 랜더링된 후 처리할 코드가 필요하면 아래 코드 블록을 참고하세요.
  * beforeUpdate: vm data가 변경되고 DOM에 반영되기 전 상태입니다.
  * updated: vm data 변경이 DOM에 적용된 후 호출됩니다.
  * activated: keep-alive component가 활성화될 때 호출됩니다.
  * deactivated: keep-alive component가 비활성화될 때 호출됩니다.
  * beforeDestroy: VM이 소멸되기 전에 호출됩니다. 현 시점에서 vm의 모든 기능은 동작하고 있습니다.
  * **destroyed**: VM이 소멸된 후 호출됩니다. VM의 모든 event가 해제되고 child component도 모두 destroyed된 상태입니다.

VM의 모든 view가 랜더링된 후 코드 실행

```javascript
mounted: function () {
  this.$nextTick(function () {
    // Code that will run only after the
    // entire view has been rendered
  })
}
```
    " />
  </div>
</template>

<script>
import _ from 'lodash'

let count = 0

export default {
  name: 'Lifecycle',
  data () {
    return {
      message: 'hello'
    }
  },
  beforeCreate () {
    console.log('---beforeCreate---')
    // methods are not set yet
    // this.logState()
    console.log({
      data: !_.isEmpty(this.$data),
      el: !_.isEmpty(this.$el)
    })
  },
  created () {
    console.log('---created---')
    this.logState()
  },
  beforeMount () {
    console.log('---beforeMount---')
    this.logState()
  },
  mounted () {
    console.log('---mounted---')
    this.logState()

    // 모든 child component가 mounted 됐는지는 보장할 수 없음
    this.$nextTick().then(() => {
      // 모든 view가 mounted 됐음
    })
  },
  beforeUpdate () {
    console.log('---beforeUpdate---')
    // data가 변경되고 DOM이 변경되기 전 상태
    // use case: DOM에 직접 event를 binding한 경우 beforeUpdate에서 unbind
  },
  updated () {
    console.log('---updated---')
    // data 변경에 따른 DOM 변경이 완료된 상태

    // 모든 child component가 update 됐는지는 보장할 수 없음
    this.$nextTick().then(() => {
      // 모든 view가 update 됐음
    })
  },
  beforeDestroy () {
    console.log('---beforeDestroy---')
    // vue instance가 destroy되기 직전
    // 현 시점에서 instance의 모든 기능은 동작하고 있음
  },
  destroyed () {
    console.log('---destroyed---')
    // instance가 destroy된 후
    // 모든 event binding이 unbind되고, child component가 destroyed된 상태
  },
  methods: {
    logState () {
      console.log({
        data: !_.isEmpty(this.$data),
        el: !_.isEmpty(this.$el)
      })
    },
    changeState () {
      this.message = `hello: ${count++}`
    }
  }
}
</script>
