<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>vue-to-do-demo</title>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div id="app">
    <input v-model.trim="newTodo" @keyup.enter="addTodo">
    <ul>
      <li v-for="(todo, index) in todos">
        <span>{{ todo.text }}</span>
        <button @click="removeTodo(index)">X</button>
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        newTodo: '',
        todos: [
          { text: 'Add some todos' }
        ]
      },
      methods: {
        addTodo: function () {
          var text = this.newTodo

          if (text) {
            this.todos.push({ text: text })
            this.newTodo = ''
          }
        },
        removeTodo: function (index) {
          this.todos.splice(index, 1)
        }
      }
    })
  </script>
</body>

</html>
