<template>
  <div>
    <h2>Filter</h2>
    <p>{{ message | toUpper }}</p>
    <p>{{ count | numberFormat }}
    <p :class="'default' | cssClassFormat('p')">
      some text
    </p>
  </div>
</template>

<script>
export default {
  name: 'AppFilter',
  data () {
    return {
      message: 'some message',
      count: 1234567890
    }
  },
  filters: {
    toUpper (value) {
      value = String(value)
      return value.toUpperCase()
    },
    cssClassFormat (value, prefix) {
      value = String(value)
      return `${prefix}-${value}`
    }
  }
}
</script>

<style>
.p-default {
  color: red;
}
</style>
