<template>
  <div>
    <h3>Two-way binding with vuex</h3>
    <div class="item">
      <h4>Solution 1</h4>
      <input type="text" :value="message" @input="setTestMessage" />
      <p>{{ testMessage }}</p>
    </div>
    <div class="item">
      <h4>Solution 2</h4>
      <input type="text" v-model="testMessage" />
      <p>{{ testMessage }}</p>
    </div>

    <vue-markdown class="md" source="
### Two-way 바인딩

Vuex state 값을 변경하려면 반드시 mutation을 거쳐야 합니다.

단순히 값을 읽기만 할 때는 문제가 없지만 input의 v-model로 사용하는 경우처럼 값을 변경해야 할 때도 있습니다. 이런 경우에는 v-model 대신 v-bind:value와 v-on:input을 사용(Solution1)하거나 computed setter를 사용(Solution2)해서 state 값을 바로 변경할 수 있습니다.
    " />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'StoreTwoWay',
  computed: {
    ...mapState(['message']),
    testMessage: {
      get () {
        return this.message
      },
      set (value) {
        this.setMessage(value)
      }
    }
  },
  methods: {
    ...mapMutations(['setMessage']),
    setTestMessage (event) {
      this.setMessage(event.target.value)
    }
  }
}
</script>
