<template>
  <div>
    <h3>Reactivity</h3>
    <div class="item">
      <h4>VM data</h4>
      <p>
        <input type="text"
          v-model="dataMessage" />
      </p>
      <h4>Instance property</h4>
      <p>
        <input type="text"
          v-model="instanceMessage" />
      </p>
      <p class="action">
        <button type="button"
          @click="updateDataMessage">update dataMessage</button>
      </p>
    </div>
    <div class="item">
      <p>dataMessage: {{ dataMessage }}</p>
      <p>computedMessage: {{ computedMessage }}</p>
      <p>instanceMessage: {{ instanceMessage }}</p>
    </div>
    <vue-markdown class="md" source="Vue에서 반응성을 갖는 속성은 data, computed, prop, store 네 가지가 있습니다. 먼저 가장 기본이 되는 data는 각 component에 국한된 JavaScript 객체입니다. Global state인 store와 대비되는 local state라고도 합니다.

    data가 변경되면 해당 data와 binding된 모든 DOM이 동시에 변경됩니다.

    computed 속성은 data에서 파생되는 값을 표헌할 때 사용합니다. computed 속성 안에서 참조된 data 값이 변경되면 computed도 자동으로 갱신됩니다.

    data와 computed 속성 모두 script에서는 this[속성명]으로 참조하고, template에서는 [속성명]으로 바로 쓸 수 있습니다. this에 직접 추가한 instance 속성도 동일하게 사용되지만 **instance 속성은 reactive하지 않습니다**.
    " />
  </div>
</template>

<script>
let count = 0

export default {
  name: 'Reactivity',
  data () {
    return {
      dataMessage: 'hello'
    }
  },
  computed: {
    computedMessage () {
      return this.dataMessage ? this.dataMessage.split('').reverse().join('') : ''
    }
  },
  watch: {
    dataMessage (current, prev) {
      console.log(`dataMessage changed: ${prev} to ${current}`)
    }
  },
  created () {
    this.instanceMessage = 'hello'
    console.log(this)
  },
  methods: {
    updateDataMessage () {
      this.dataMessage = `data message: ${++count}`
    }
  }
}
</script>
