<template>
  <div>
    <h2>Watch</h2>
    <div class="item">
      <h3>Primiive watch</h3>
      <p>{{ primitiveNo }}</p>
    </div>
    <div class="item">
      <h3>Object watch</h3>
      <p>{{ objectNo.no }}</p>
    </div>
    <p class="action">
      <button type="button"
        @click="increaseNumber">Increase number</button>
      <button type="button"
        @click="increaseNumber2">Increase number2</button>
    </p>
    <vue-markdown class="md" source="Reactive한 속성은 watch를 이용해서 값의 변화를 추척하거나 변경되는 값에 따라서 서로 다른 동작을 수행할 수 있습니다.

Watch는 기본적으로 하나의 속성만 추적할 수 있지만 deep 속성을 지정해서 객체나 배열의 변화도 감지할 수 있습니다. Reactive한 속성 변화에 따라서 다른 값이 필요할 때는 주로 computed 속성을 사용합니다. Watch는 특정한 값이 아닌 동작, 주로 비동기나 처리할 코드가 많은 경우에 유용합니다.

string, number, boolean 등을 watch하면 변경된 값과 이전 값을 arguments로 받습니다. 하지만 객체의 속성이 변경되거나 배열에 요소가 추가되는 것처럼 원본 객체나 배열이 달라지지 않는 경우는 변경된 값과 이전 값이 같음에 주의해야 합니다.

객체나 배열을 watch할 때 이전 값을 확인해야 한다면 속성을 변경하는 대신 변경된 속성을 갖는 새로운 객체나 배열을 data 속성으로 지정하면 됩니다.

Watch는 `vm.$watch()` 메서드로 동적으로 추가할 수 있으며, 필요하면 해제할 수도 있습니다.

```javascript
var unwatch = vm.$watch('a', cb)
// later, teardown the watcher
unwatch()
```
    " />
  </div>
</template>

<script>
let count = 0

export default {
  name: 'Watcher',
  data () {
    return {
      primitiveNo: count,
      objectNo: {
        no: count
      }
    }
  },
  watch: {
    primitiveNo (current, prev) {
      console.log(`primitiveNo changed: ${prev} to ${current}`)
      this.logEqual(current, prev)
    },
    'objectNo.no' (current, prev) {
      console.log(`objectNo.no: ${prev} to ${current}`)
      this.logEqual(current, prev)
    },
    objectNo: {
      deep: true,
      handler (current, prev) {
        console.log('onjectNo changed (deep)')
        this.logEqual(current, prev)
      }
    }
  },
  methods: {
    logEqual (current, prev) {
      if (current === prev) {
        console.log('current === prev')
      } else {
        console.log('current !== prev')
      }
    },
    increaseNumber () {
      count++

      this.primitiveNo = count
      this.objectNo.no = count
    },
    increaseNumber2 () {
      count++

      this.primitiveNo = count
      this.objectNo = {
        no: count
      }
    }
  }
}
</script>
