<template>
  <div>
    <h3>Props & events</h3>
    <p>{{ message }}</p>
    <props-events-child
      :message="message"
      @onMessageChange="onMessageChange" />

    <vue-markdown class="md" source="
### Component 기능

Component는 data 반응성과 함께 Vue의 핵심 기능으로 크게 두 가지 목적으로 사용됩니다.

1. 모듈화 - App을 독립적인 state와 기능을 갖는 작은 조각으로 나눌 수 있습니다.
1. 코드 재활용 - 유사하면서 반복적으로 사용되는 마크업과 기능을 하나로 처리할 수 있습니다.

하나의 Vue App은 여러개의 component를 조합해서 만들어집니다. 하나의 component는 다수의 자식 component를 가질 수 있고 그 단계에는 제한이 없습니다.

<img src='/static/components.png' alt='' width='500' />

Component를 사용하면 App 레이아웃을 아래처럼 단순화시킬 수 있습니다.

```html
<div id='app'>
  <app-nav></app-nav>
  <app-view>
    <app-sidebar></app-sidebar>
    <app-content></app-content>
  </app-view>
</div>
```

### Props down, events up 모델

Component가 트리 구조를 갖기 때문에 부모-자식 component간에 서로 소통이 필요할 수 있습니다. 어떤 값을 부모-자식 component가 함께 사용하면서 서로간의 의존성을 줄이기 위해서 Vue component는 단순한 **props down, events up** 모델을 사용합니다.

<img src='/static/props-events.png' alt='' width='300' />

부모는 자식에게 prop을 통해서 data를 전달하고, 자식은 전달받은 data 변경이나 기타 필요한 작업이 있으면 event를 통해서 부모에게 알려주는 방식입니다.

#### 단방향 data 흐름

모든 prop은 부모에서 자식으로만 data가 전달됩니다. 부모에서 값이 변경되면 자식에서도 즉시 값이 변경되고, 반응성에 따라서 바인딩된 DOM도 변경됩니다. 하지만 반대 방향으로의 변경은 불가능합니다. 이런 단방향 흐름이 불편할 수도 있지만 자식이 부모가 의도하지 않은 값 변경을 방지함으로써 component 재활용이나 App의 data 흐름을 쉽게 이해할 수 있도록 해줍니다.
    " />
  </div>
</template>

<script>
import PropsEventsChild from './PropsEventsChild'

export default {
  name: 'PropsEvents',
  components: {
    PropsEventsChild
  },
  data () {
    return {
      message: 'hello'
    }
  },
  methods: {
    onMessageChange (message) {
      this.message = message
    }
  }
}
</script>
