<template>
  <div>
    <h3>Child component</h3>
    <p>{{ message }}</p>
    <p class="action">
      <button type="button"
        @click="updateMessage">update message</button>
      <button type="button"
        @click="updateProp">update prop</button>
    </p>
  </div>
</template>

<script>
let count = 0

export default {
  name: 'PropsEventsChild',
  props: ['message'],
  methods: {
    getNewMessage () {
      return `some message from child: ${++count}`
    },
    updateMessage () {
      this.$emit('onMessageChange', this.getNewMessage())
    },
    updateProp () {
      this.message = this.getNewMessage()
    }
  }
}
</script>
