<template>
  <div>
    <vue-markdown class="md" source="### data 바인딩

Vue data와 DOM이 상호 작용하려면 DOM에 data를 선언적으로(declaratively) 바인딩해줘야 합니다. Data 바인딩은 HTML 기반 템플릿 문법을 사용하고, 바인딩한 템플릿은 Vue를 통해서 가상 DOM으로 변환됩니다.

Data가 변경되면 Vue는 가상 DOM을 비교해서 다시 랜더링해야 하는 최소한의 component을 판단하고, 가장 효율적으로 최소한의 DOM을 변경합니다.

#### 값 대입
##### 텍스트

```html
<span>Message: { { message } }</span>
```

##### HTML

```html
<p>Using mustaches: { { rawHtml } }</p>
<p>Using v-html directive: <span v-html='rawHtml'></span></p>
```

##### HTML 속성
HTML 속성 값을 지정할 때는 mustaches 대신 v-bind 지시어를 사용합니다.

```html
<!-- full syntax -->
<div v-bind:id='dynamicId'></div>

<!-- shorthand -->
<div :id='dynamicId'></div>
```

Boolean 속성에서 그 값이 null, undefined, false이면 해당 속성은 최종 DOM에 아예 포함되지 않습니다.

```html
<button v-bind:disabled='isButtonDisabled'>Button</button>
```

##### JavaScript 표현식
모든 data 바인딩에 JavaScript 표현식을 사용할 수 있습니다. 하지만 **오직 하나의 표현식**만 가능합니다.

```javascript
{ { number + 1 } }
{ { ok ? 'YES' : 'NO' } }
{ { message.split('').reverse().join('') } }
```

#### 지시어
지시어는 v- 접두사로 시작하고, 그 값이나 JavaScript 표현식이 변경되면 DOM 역시 변경됩니다. 예를 들어서 `v-if` 지시어는 true로 평가되면 해당 요소를 DOM에 추가하고 false로 평가되면 DOM에서 제거합니다. `v-show`는 그 값에 따라서 CSS display 속성을 변경합니다.

```html
<!-- DOM 추가/삭제 -->
<p v-if='seen'>Now you see me</p>

<!-- CSS display toggle -->
<p v-show='show'>Now you see me</p>

<!-- 이벤트 바인딩 full syntax -->
<a v-on:click='doSomething'> ... </a>

<!-- 이벤트 바인딩 shorthand -->
<a @click='doSomething'> ... </a>
```
    " />
  </div>
</template>

<script>
export default {
  name: 'DataBinding'
}
</script>
