<template>
  <div>
    <h2>CustomError</h2>
    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  name: 'CustomError',
  computed: {
    message () {
      return this.$route.params.message || 'generic error'
    }
  }
}
</script>
