<template>
  <div>
    <h3>Set data</h3>
    <div class="item">
      <h4>Without vm.$set</h4>
      <p>
        <input id="checkboxA" type="checkbox"
          v-model="itemA.checked" />
        <label for="checkboxA">{{ itemA.title }}</label>
      </p>
      <p class="action">
        <button type="button"
          @click="toggleCheckboxA()">toggle checkbox</button>
      </p>
    </div>
    <div class="item">
      <h4>With vm.$set</h4>
      <p>
        <input id="checkboxB" type="checkbox"
          v-model="itemB.checked" />
        <label for="checkboxB">{{ itemB.title }}</label>
      </p>
      <p class="action">
        <button type="button"
          @click="toggleCheckboxB()">toggle checkbox</button>
      </p>
    </div>
    <vue-markdown class="md" source="data에 선언된 속성은 reactive합니다. 하지만 미리 정의되지 않은 속성은 reactive하지 않습니다. Reactive한 속성을 동적으로 추가하려면 this.$set 메서드를 사용해야 합니다.

    Reactive한 속성은 watch를 이용해서 값이 어떻게 변하는지 추적할 수 있습니다.
    " />
  </div>
</template>

<script>
export default {
  name: 'SetData',
  data () {
    return {
      itemA: {
        title: 'item A'
      },
      itemB: {
        title: 'item B'
      }
    }
  },
  watch: {
    'itemB.checked' (current, prev) {
      console.log(current, prev)
    }
  },
  methods: {
    toggleCheckboxA () {
      this.itemA.checked = !this.itemA.checked
      console.log(this.itemA)
    },
    toggleCheckboxB () {
      if (this.itemB.checked === undefined) {
        this.$set(this.itemB, 'checked', !this.itemB.checked)
      } else {
        this.itemB.checked = !this.itemB.checked
      }
      console.log(this.itemB)
    }
  }
}
</script>
