<template>
  <nav id="nav">
    <nav-items
      :items="$router.options.routes" />
  </nav>
</template>

<script>
import NavItems from '@/components/NavItems'

export default {
  name: 'AppNav',
  components: {
    NavItems
  }
}
</script>

<style>

</style>
