<template>
  <div>
    <h2>NextTick</h2>
    <div class="item">
      <h3>DOM update</h3>
      <p ref="message">{{ message }}</p>
      <p class="actions">
        <button type="button"
          @click="updateMessage(false)">without nextTick</button>
        <button type="button"
          @click="updateMessage(true)">with nextTick</button>
      </p>
    </div>
    <div class="item">
      <h3>Watcher run</h3>
      <p class="actions">
        <button type="button"
          @click="updateMessage2(false)">without nextTick</button>
        <button type="button"
          @click="updateMessage2(true)">with nextTick</button>
      </p>
    </div>
    <vue-markdown class="md" source="
Reactive한 data가 변경됐다고 해서 DOM이 즉시 변경되지는 않습니다. 불필요한 랜더링을 피하기 위해서 Vue는 data 변경 사항을 queue에 보관했다가 다음 event loop(tick)에서 한꺼번에 DOM에 반영합니다.

Vue는 DOM을 직접 변경하는 것을 권장하지 않습니다. 하지만 필요한 경우는 `vm.$nextTick()` 메서드를 사용해서 다음 event loop에서 변경된 DOM에 접근할 수 있습니다.

```javascript
this.$nextTick().then(() => {
  // data 변경에 따른 DOM 변경이 완료된 상태
})
```
    " />
  </div>
</template>

<script>
let count = 0

export default {
  name: 'NextTick',
  data () {
    return {
      message: null
    }
  },
  watch: {
    message (current, prev) {
      console.log(`message changed from ${prev} to ${current}`)
    }
  },
  mounted () {
    this.messageEl = this.$refs.message
  },
  methods: {
    logMessage () {
      if (this.messageEl) {
        console.log(`${this.message} : ${this.messageEl.textContent}`)
      }
    },
    updateMessage (useNextTick) {
      this.message = `${++count}`

      if (useNextTick) {
        this.$nextTick().then(() => {
          this.logMessage()
        })
      } else {
        this.logMessage()
      }
    },
    updateMessage2 (useNextTick) {
      const oldMessage = this.message
      this.message = null

      if (useNextTick) {
        this.$nextTick().then(() => {
          this.message = oldMessage
        })
      } else {
        this.message = oldMessage
      }
    }
  }
}
</script>
