<template>
  <div>
    <h3>List rendering</h3>
    <div class="item">
      <h4>Object rendering</h4>
      <ul>
        <li v-for="(value, key) in nameSet" :key="key">
          {{ key }}: {{ value }}
        </li>
      </ul>
    </div>
    <div class="item">
      <h4>list rendering (Key by id)</h4>
      <ul>
        <li v-for="item in items" :key="item.id">
          {{ item.id }}. {{ item.name }}
          <input type="text" />
        </li>
      </ul>
    </div>
    <div class="item">
      <h4>list rendering (Key by index)</h4>
      <ul>
        <li v-for="(item, index) in items" :key="index">
          {{ item.id }}. {{ item.name }}
          <input type="text" />
        </li>
      </ul>
    </div>
    <p class="action">
      <button type="button"
        @click="reverseItems">reverse items</button>
    </p>
    <vue-markdown class="md" source="객체나 배열은 v-for 지시어를 사용해서 DOM과 binding 합니다.

    이전에는 DOM의 일부만 변경하면 되는데도 불필요한 마크업을 통째로 innerHTML로 처리하는 경우가 많았습니다.
    Vue는 DOM 조작을 최소화하기 위해서 **변경된 부분만** DOM에 반영하기 때문에 성능상 강점을 갖습니다.

    하지만 이런 방식이 때로는 문제를 일으키기도 합니다. 예를 들어서 배열 요소의 순서가 변경돼도 Vue는 기본적으로 DOM 요소의 순서를 변경하지 않고 변경된 부분만 반영하려고 합니다.
    실제로 DOM 요소의 순서를 변경하려면 배열 요소를 v-for로 binding할 때 각 요소를 고유하게 구분할 수 있는 값을 key로 지정해야 합니다.
    " />
  </div>
</template>

<script>
export default {
  name: 'ListRendering',
  data () {
    return {
      items: null
    }
  },
  created () {
    this.items = [
      {
        id: 1,
        name: 'hognseok'
      },
      {
        id: 2,
        name: 'wystan'
      }
    ]

    this.nameSet = {
      name: 'hongseok',
      nickname: 'wystan'
    }
  },
  methods: {
    reverseItems () {
      this.items.reverse()
    }
  }
}
</script>
