<template>
  <div>
    <h3>Tab demo</h3>
    <div class="item">
      <ul class="tab">
        <template v-for="item in tabs">
          <li :key="item.id"
            :class="item.id === currentTabId ? 'active' : ''">

            <button type="button"
              @click="changeTab(item.id)">
              {{ item.title }}
            </button>
          </li>
        </template>
      </ul>
      <p class="action">
        <button type="button"
          @click="addTab">add tab</button>
        <button type="button"
          @click="removeTab">remove tab</button>
      </p>
    </div>
    <vue-markdown class="md" source="Vue를 이용한 간단한 Tab UI입니다. jQuery로 작성한다면 `addClass(), removeClass(), append(), remove() on('click', fn)` 등을 사용해서 DOM을 직접 변경했을 겁니다.

하지만 Vue에서는 먼저 data외 DOM을 template을 통해서 연결시키고(binding), 그 다음에는 data만 변경하면 Vue가 자동으로 DOM을 변경해줍니다.
    " />
  </div>
</template>

<script>
let count = 0

export default {
  name: 'TabDemo',
  data () {
    return {
      tabs: [
        {
          id: 'tab-a',
          title: 'Tab A'
        },
        {
          id: 'tab-b',
          title: 'Tab B'
        },
        {
          id: 'tab-c',
          title: 'Tab C'
        }
      ],
      currentTabId: null
    }
  },
  created () {
    this.currentTabId = this.tabs[0].id
  },
  methods: {
    changeTab (id) {
      this.currentTabId = id
    },
    addTab () {
      const tabId = ++count

      this.tabs.push({
        id: `tab-${tabId}`,
        title: `Tab ${tabId}`
      })
    },
    removeTab () {
      this.tabs.pop()
    }
  }
}
</script>

<style lang="scss" scoped>
.tab {
  overflow: hidden;
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    > button {
      float: left;
      width: 80px;
      height: 30px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #eee;
      background-color: #aaa;
      cursor: pointer;
    }

    &.active > button {
      border-color: #aaa;
      background-color: #fff;
      cursor: default;
    }
  }
}
</style>
