<template>
  <div>
    <h2>DataFetching</h2>
    <p>name: {{ model.name }}</p>
    <router-view name="meta" />
  </div>
</template>

<script>
export default {
  name: 'DataFetching',
  data () {
    return {
      model: {}
    }
  },
  beforeRouteEnter (to, from, next) {
    window.setTimeout(() => {
      const model = {
        name: 'hongseok'
      }
      console.log('fetch model')

      if (to.query.error) {
        if (to.query.error === '1') {
          next(new Error('error code 1'))
        } else {
          next({
            name: 'CustomError',
            params: { message: 'some error' }
          })
        }
      } else {
        next((vm) => {
          vm.setModel(model)
        })
      }
    }, 1000)
  },
  methods: {
    setModel (model) {
      this.model = model
    }
  },
  beforeCreate () {
    console.log('beforeCreate')
  },
  created () {
    console.log('created')
  }
}
</script>
