<template>
  <div>
    <h3>Child component</h3>
    <slot>
      <p>default slot content</p>
    </slot>

    <slot name="slot-a">
      <p>default named slot content</p>
    </slot>
  </div>
</template>

<script>
export default {
  name: 'ContentSlotChildA'
}
</script>
