<template>
  <div>
    <h3>Slot</h3>
    <div class="item">
      <content-slot-child-a />
    </div>

    <div class="item">
      <content-slot-child-a>
        <p>slot content from parent</p>

        <p slot="slot-a">
          named slot content from parent
        </p>
      </content-slot-child-a>
    </div>

    <vue-markdown class="md" source="
### Slot이란?
Slot은 부모 component가 자식에게 템플릿을 전달하는 방식입니다. 자식 Component의 템플릿이 고정된다면 재활용성이 떨어집니다. 하지만 slot을 사용해서 템플릿의 일부를 부모가 전달해주고, 자식이 전달된 템플릿을 사용하게 되면 component를 재활용하기가 훨씬 쉬워집니다.

한 예로 테이블을 표현하는 component를 만들 때 테이블 셀에 들어가는 data는 prop으로 전달하고, 사용되는 UI에 따라서 테이블 header나 colgroup만 slot으로 전달할 수 있습니다.

```html
<table-grid :rows='rows'>
  <colgroup>
    <col span='2'/>
    <col style='width: 70px;'/>
  </colgroup>
</table-grid>
    " />
  </div>
</template>

<script>
import ContentSlotChildA from './ContentSlotChildA'

export default {
  name: 'ContentSlot',
  components: {
    ContentSlotChildA
  }
}
</script>
