<template>
  <div>
    <h2>RouteParams</h2>
    <p>
      id: {{ id }},
      message: {{ $route.params.message }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'RouteParams',
  props: ['id', 'message'],
  created () {
    console.log(this.$route)
    console.log(this.$route.params)
  }
}
</script>
