<template>
  <div>
    <h3>Scoped slot</h3>
    <scoped-slot-child>
      <template slot-scope="slotData">
        <strong>{{ slotData.text }}</strong>
      </template>
    </scoped-slot-child>
  </div>
</template>

<script>
import ScopedSlotChild from './ScopedSlotChild'

export default {
  name: 'ScopedSlot',
  components: {
    ScopedSlotChild
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
