<template>
  <div>
    <h4>Child component</h4>
    <slot text="default slot text from child" />
  </div>
</template>

<script>
export default {
  name: 'ScopedSlotChild',
  methods: {
  }
}
</script>
