<template>
  <div>
    <h3>Vuex state</h3>
    <div class="item">
      <h4>State</h4>
      <p>{{ count }}</p>
    </div>
    <div class="item">
      <h4>Alias</h4>
      <p>{{ testCount }}</p>
    </div>
    <div class="item">
      <h4>Getters</h4>
      <p>{{ getCountMessage }}</p>
    </div>
    <div class="items">
      <h4>Mutations</h4>
      <p>
        <button type="button"
          @click="onIncrease">increaseCount</button>
      </p>
    </div>
    <div class="items">
      <h4>Actions</h4>
      <p>
        <button type="button"
          @click="getCountAsync">getCountAsync</button>
      </p>
    </div>

    <vue-markdown class="md" source="
### Vuex

Vuex는 Vue App의 상태(state)를 관리하는 패턴 + 라이브러리입니다. 앞서 살펴본 것처럼 component간의 상호 관계는 부모-자식간에 props를 전달하고 event를 수신하는 방식으로 이루어집니다. 하지만 component의 중첩 단계가 깊어지거나 부모-자식이 아닌 component간의 상호 작용에서는 props & events 모델이 적합하지 않을 수 있습니다.

Vuex는 Vue App의 상태를 중앙 집중식으로 한 곳에 모으고, 각각의 component가 이 상태를 가져오거나 변경할 수 있게 해줍니다. Data나 prop과 마찬가지로 Vuex state도 반응성을 갖기 때문에 Vuex의 상태를 변경하면 해당 상태와 바인딩된 모든 DOM이 component 구분 없이 한꺼번에 변경됩니다.

<img src='/static/vuex.png' alt='' width='700' />

#### State

Vuex state는 각각의 component에 선언된 data를 한곳에 모은 것으로 생각할 수 있습니다. 물론 Vuex와 component의 local data를 같이 사용할 수 있습니다.

State는 component에서 mapState나 mapGetters를 사용해서 읽을 수 있습니다. 하지만 그 값을 직접 변경하지는 못합니다. 자식 component에서 prop을 변경할 때 부모에게 event를 보냈던 것처럼 mutation이라는 단일화된 인터페이스를 통해서만 그 값을 변경할 수 있습니다.

#### Getter

Vuex getter는 component의 computed 속성과 유사합니다. Vuex state에서 파생된 값이 필요하면 component에서 computed로 파생된 값을 만들어도 됩니다. 하지만 두 개 이상의 component에서 같은 값이 필요하다면 코드가 중복될 수밖에 없습니다. 이런 경우 Vuex에서 getter를 만들고 여러 component에서 그 값을 바로 사용하는 게 훨씬 효율적입니다.

#### Mutation

Vuex state를 변경하는 유일한 방법이 mutation입니다. Component의 event와 유사하다고 생각할 수 있고 아래처럼 호출해서 state를 변경할 수 있습니다.

```javascript
mutations: {
  increment (state, n) {
    state.count += n
  }
}

store.commit('increment', 10)
```

#### Action

Vuex action은 mutation과 유사하지만 state를 직접 변경하는 대신 action 내에서 mutation을 호출해서 state를 변경합니다. 언듯 불필요한 단계가 하나 더 있다고 생각할 수 있지만 한번에 여러 개의 mutation을 호출할 수 있고, 동기가 아닌 비동기 작업에서도 mutation을 호출할 수 있습니다.

```javascript
actions: {
  incrementAsync ({ commit }) {
    setTimeout(() => {
      commit('increment')
    }, 1000)
  }
}

store.dispatch('increment')
    " />
  </div>
</template>

<script>
import store from '@/store'
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
export default {
  name: 'BasicStore',
  computed: {
    ...mapState(['count']),
    ...mapState({
      testCount: 'count'
    }),
    ...mapGetters(['getCountMessage'])
  },
  created () {
    store.commit('increaseCount', 1000)
    this.getCountAsync(10, 100).then((counter) => {
      console.log('created: ' + counter)
    })
  },
  methods: {
    ...mapMutations(['increaseCount']),
    ...mapActions(['getCountAsync']),
    onIncrease () {
      this.increaseCount(1, 100)
    }
  }
}
</script>
