<template>
  <iframe :src="demoUrl"></iframe>
</template>

<script>
export default {
  name: 'UiDemoIframe',
  props: ['demoType'],
  computed: {
    demoUrl () {
      return `/static/demo/${this.demoType}.html`
    }
  },
  created () {
    console.log(this.$route)
  }
}
</script>

<style scoped>
  iframe {
    width: 100%;
    height: 600px;
    border: 0;
  }
</style>
